{:paths ["src"] ;; project paths
 :deps {io.github.nextjournal/clerk {:mvn/version "0.13.842"}}

 :aliases
 {;; Run with clj -T:build function-in-build
  :build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.4" :git/sha "76b78fe"}}
          :ns-default build}}}
